*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 50px;
  background-color: #FF9A4B;


}

main{
  width: 960px;
  margin:  50px auto;
  display: flex;
}

.main-content{
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #EEEEEE;
}

.content1{
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.content2{
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.content3{
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}







.content-num{
  background-color: #FF9A4B;
  padding: 3px;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}

.title{
  margin-top: 15px;
  margin-bottom: 5px;
}



footer{
  height: 50px;
  background-color: #AAAAAA;

}
